name: Build LaTeX

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

permissions:
  contents: write

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Compile LaTeX
        uses: xu-cheng/latex-action@v3
        with:
          root_file: resume.tex
          latexmk_use_xelatex: true

      - name: Copy
        run: |
          mkdir out
          cp ./resume.pdf ./out/Shreeram-Modi-Resume.pdf

      - name: Create Gitignore
        run: |
          touch out/.gitignore
          cat <<EOF > out/.gitignore
          *
          !.gitignore
          !Shreeram-Modi-Resume.pdf
          EOF

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: out
          branch: gh-pages

